#preload
{
    padding-top:250px;
    width:800px;
    height:600px;
    text-align:center;
}

#preload img
{
    display:block;
    margin: auto;
}

#game_tooltip
{
    position:absolute;
    width:800px;
    background: linear-gradient(#ECECEC, #CACACA);
    border-bottom: 1px solid #9A9A9A;
    border-radius: 0px 0px 10px 10px;
    color:#585351;
    text-shadow: 0 1px 0 white;
    padding-top:10px;
    padding-bottom:10px;
    font-weight: bold;
    text-align: center;
    top:8px;
    left:8px;
    display:none;
}

#game_scorecard_bg
{
    position:absolute;
    width:800px;
    height:600px;
    top:8px;
    left:8px;
    background-color: rgba(0,0,0,0.4);
    display:none;
}

#game_scorecard
{
    background: linear-gradient(#ECECEC, #CACACA);
    box-shadow: 0px 0px 5px #FFFFFF;
    border-radius:10px;
    position:relative;
    top:100px;
    left:200px;
    width:400px;
    height:370px;
    z-index: 999;
    padding-top:10px;
    text-shadow: 0 2px 0 #FFFFFF;
    font-family: Helvetica,arial,sans-serif;
    font-size: 25px;
    font-weight: bold;
}

#game_scorecard p
{
    text-align: center;
    margin-bottom:2px;
    margin-top:10px;
}

#game_scorecard .score
{
    float:left;
    padding-left:100px;
    position:relative;
    top:-15px;
}

#game_scorecard .score .star
{
    width:64px;
    height:64px;
    background-image:url(../img/star-off.png);
    background-repeat: no-repeat;
    float:left;
}

#game_scorecard .score .star.enabled
{
    background-image:url(../img/star-on.png);
}

#game_scorecard p.clones, #game_scorecard p.time
{
    padding-top: 2px;
    margin-top:2px;
    font-size: 30px;
    padding-bottom:10px;
}

#game_scorecard .nextLevel,
#game_scorecard .resetLevel
{
    border:1px solid grey;
    border-bottom:1px solid black;
    width:64px;
    height:64px;
    display:block;
    font-size:-1px;
    text-indent:-9999px;
    outline: none;
    border-radius:10px;
    background-repeat:no-repeat;
    position:relative;
}

#game_scorecard .nextLevel
{
    background-image:url(../img/next.png);
    left:310px;
    top:80px;
}

#game_scorecard .resetLevel
{
    background-image:url(../img/reset.png);
    left:167px;
    top:15px;
}